<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
        <table class="table table-striped">
          <tr>
          </tr>
          <%= render @posts = Post.where(:published => true)%>
        </table>
  </div>
</div>



<p>Live Twitter Feed </p>
<div class="container-fluid">
  <a class=
  "twitter-timeline" data-width="350" data-height="500" data-theme="dark" href="https://twitter.com/LFC?ref_src=twsrc%5Etfw">Tweets by LFC</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
  </script>

</div>
